<h1>Generación y Manipulación de PDFs</h1>

<p>
  Librerías en prueba.
</p>

<table class="table">
  <thead>
    <th>
      Librería
    </th>

    <th>
      Vista HTML
    </th>

    <th>
      Vista PDF
    </th>
  </thead>

  <tbody>
    <tr>
      <td>
        <a href="https://github.com/mileszs/wicked_pdf" target="_blank">Wicked PDF</a>
      </td>

      <td>
        <%= link_to 'Ver HTML', wickedpdf_path %>
      </td>

      <td>
        <%= link_to 'Ver PDF', wickedpdf_path(format: :pdf) %>
      </td>
    </tr>

    <tr>
      <td>
        <a href="https://github.com/prawnpdf/prawn" target="_blank">Prawn</a>
      </td>

      <td>
        <%= link_to 'Ver HTML', prawn_path %>
      </td>

      <td>
        <%= link_to 'Generar PDF', prawn_generate_path %>
      </td>
    </tr>

    <tr>
      <td>
        <a href="https://github.com/gettalong/hexapdf" target="_blank">HexaPDF</a>
      </td>

      <td>
      </td>

      <td>
      </td>
    </tr>

    <tr>
      <td>
        <a href="https://github.com/NielsSteensma/Dhalang" target="_blank">Dhalang. Tiene como dependencia Puppeteer.</a>
      </td>

      <td>
        <%= link_to 'Ver HTML', dhalang_path %>
      </td>

      <td>
        <%= link_to 'Ver PDF', convert_path %>
      </td>
    </tr>

    <tr>
      <td>
        <a href="https://github.com/gdelugre/origami" target="_blank">Origami</a>
      </td>

      <td>
      </td>

      <td>
      </td>
    </tr>

    <tr>
      <td>
        <a href="https://github.com/simplybusiness/weasyprint" target="_blank">Weasyprint</a>
      </td>

      <td>
      </td>

      <td>
      </td>
    </tr>

    <tr>
      <td>
        <a href="https://github.com/Studiosity/grover" target="_blank">Grover</a>
      </td>

      <td>
        <%= link_to 'Ver HTML', grover_path %>
      </td>

      <td>
        <%= link_to 'Ver PDF', grover_path(format: :pdf) %>
      </td>
    </tr>

    <tr>
      <td>
        <a href="https://github.com/boazsegev/combine_pdf" target="_blank">CombinePDF</a>
      </td>

      <td>
      </td>

      <td>
        <%= link_to 'Combina PDF', combine_path %>
      </td>
    </tr>

    <tr>
      <td>
        <a href="https://github.com/strzibny/invoice_printer" target="_blank">Invoice Printer. Usa Prawn.</a>
      </td>

      <td>
      </td>

      <td>
        <%= link_to 'Ver PDF', invoice_printer_path(format: :pdf) %>
      </td>
    </tr>

    <tr>
      <td>
        <a href="https://github.com/igorkasyanchuk/rails_pdf" target="_blank">Rails PDF</a>
      </td>

      <td>
      </td>

      <td>
      </td>
    </tr>

    <tr>
      <td>
        <a href="https://github.com/excid3/receipts" target="_blank">Receipts. Usa Prawn.</a>
      </td>

      <td>
      </td>

      <td>
        <%= link_to 'Ver PDF', receipts_path(format: :pdf) %>
      </td>
    </tr>
  </tbody>
</table>
