<h1>Generación y Manipulación de PDFs</h1>

<p>
  Librerías en prueba.
</p>

<table class="table">
  <thead>
    <th>
      Librería
    </th>

    <th>
      Vista HTML
    </th>

    <th>
      Vista PDF
    </th>
  </thead>

  <tbody>
    <tr>
      <td>
        Wicked PDF
      </td>

      <td>
        <%= link_to 'Ver HTML', wickedpdf_path %>
      </td>

      <td>
        <%= link_to 'Ver PDF', wickedpdf_path(format: :pdf) %>
      </td>
    </tr>

    <tr>
      <td>
        Prawn
      </td>

      <td>
        <%= link_to 'Ver HTML', prawn_path %>
      </td>

      <td>
        <%= link_to 'Generar PDF', prawn_generate_path %>
      </td>
    </tr>

    <tr>
      <td>
        HexaPDF
      </td>

      <td>
        <%#= link_to 'Ver HTML', wickedpdf_path %>
      </td>

      <td>
        <%#= link_to 'Ver PDF', wickedpdf_path(format: :pdf) %>
      </td>
    </tr>

    <tr>
      <td>
        Dhalang. Tiene como dependencia Puppeteer.
      </td>

      <td>
        <%= link_to 'Ver HTML', dhalang_path %>
      </td>

      <td>
        <%= link_to 'Ver PDF', convert_path %>
      </td>
    </tr>

    <tr>
      <td>
        Origami
      </td>

      <td>
        <%#= link_to 'Ver HTML', wickedpdf_path %>
      </td>

      <td>
        <%#= link_to 'Ver PDF', wickedpdf_path(format: :pdf) %>
      </td>
    </tr>

    <tr>
      <td>
        Weasyprint
      </td>

      <td>
        <%#= link_to 'Ver HTML', wickedpdf_path %>
      </td>

      <td>
        <%#= link_to 'Ver PDF', wickedpdf_path(format: :pdf) %>
      </td>
    </tr>

    <tr>
      <td>
        Grover
      </td>

      <td>
        <%= link_to 'Ver HTML', grover_path %>
      </td>

      <td>
        <%= link_to 'Ver PDF', grover_path(format: :pdf) %>
      </td>
    </tr>

    <tr>
      <td>
        CombinePDF
      </td>

      <td>
        <%#= link_to 'Ver HTML', wickedpdf_path %>
      </td>

      <td>
        <%#= link_to 'Ver PDF', wickedpdf_path(format: :pdf) %>
      </td>
    </tr>

    <tr>
      <td>
        Invoice Printer
      </td>

      <td>
        <%#= link_to 'Ver HTML', wickedpdf_path %>
      </td>

      <td>
        <%#= link_to 'Ver PDF', wickedpdf_path(format: :pdf) %>
      </td>
    </tr>

    <tr>
      <td>
        Rails PDF
      </td>

      <td>
        <%#= link_to 'Ver HTML', wickedpdf_path %>
      </td>

      <td>
        <%#= link_to 'Ver PDF', wickedpdf_path(format: :pdf) %>
      </td>
    </tr>
  </tbody>
</table>
